<div id="index">
	<div class="row">
        <div class="col-sm-12 slider-wrapper theme-dark">
            <div id="slider" class="nivoSlider">
                <img src="/assets/Slider_interior.jpg" data-thumb="/assets/Slider_interior.jpg" alt="" />
                <img src="/assets/Slider_dishes.jpg" data-thumb="/assets/Slider_dishes.jpg" alt="" />
                <img src="/assets/Slider_facade.JPG" data-thumb="/assets/Slider_facade.JPG" alt="" />
                <img src="/assets/Slider_pasta.jpg" data-thumb="/assets/Slider_pasta.jpg" alt="" />
                <img src="/assets/Slider_wall.JPG" data-thumb="/assets/Slider_wall.JPG" alt="" />
                <img src="/assets/Slider_overview.jpg" data-thumb="/assets/Slider_overview.jpg" alt="" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
		$(window).load(function() {
		        $('#slider').nivoSlider({
			        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
			        slices: 10, // For slice animations
			        animSpeed: 350, // Slide transition speed
			        pauseTime: 5000, // How long each slide will show
				});
		    });

	</script>

	<div id="gray">
		<div class="row">
			<div class="ratings col-sm-12">
				<div class="row">
					<div class="col-sm-4"><img src="/assets/yelp_ratings_img.png" /></div>
					<div class="col-sm-4"><img src="/assets/tripadvisor_ratings_img.png" /></div>
					<div class="col-sm-4"><img src="/assets/urbanspoon_ratings_img.png" /></div>
				</div>
			</div>
		</div>
		<div class="row more-information">
			<div id="hours" class="col-sm-6">
				<div class="col-sm-12"><h1> Restaurant Hours </h1></div>
				<div class="container col-sm-12">
					<div class="day col-sm-12">
						<strong class="hrl"> Monday: </strong> <span class="hrr"> <%= @hours.monday %> </span>
					</div>
					<div class="day col-sm-12">
						<strong class="hrl"> Tuesday:</strong>
						<span class="hrr">4:30pm - 9:00pm</span>
					</div>
					<div class="day col-sm-12">
						<strong class="hrl"> Wednesday - Thursday:</strong>
						<span class="hrr"><%= @hours.tuesthurs %></span>
					</div>
					<div class="day col-sm-12">	
						<strong class="hrl"> Friday:</strong>
						<span class="hrr"> <%= @hours.friday %> </span>
					</div>
					<div class="day col-sm-12">
						<strong class="hrl"> Saturday:</strong>
						<span class="hrr"> <%= @hours.saturday %> </span>
					</div>
					<div class="day col-sm-12">
						<strong class="hrl"> Sunday:</strong>
						<span class="hrr"> <%= @hours.sunday %> </span>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="google-maps col-sm-6">
				<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Veneto+Gourmet+Pizza+%26+Pasta,+318+East+Avenue,+Rochester,+NY&amp;aq=0&amp;oq=veneto&amp;sll=43.186154,-77.616348&amp;sspn=0.447587,1.012115&amp;ie=UTF8&amp;hq=Veneto+Gourmet+Pizza+%26+Pasta,&amp;hnear=318+East+Ave,+Rochester,+New+York+14604&amp;t=m&amp;ll=43.158017,-77.59562&amp;spn=0.005948,0.010707&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Veneto+Gourmet+Pizza+%26+Pasta,+318+East+Avenue,+Rochester,+NY&amp;aq=0&amp;oq=veneto&amp;sll=43.186154,-77.616348&amp;sspn=0.447587,1.012115&amp;ie=UTF8&amp;hq=Veneto+Gourmet+Pizza+%26+Pasta,&amp;hnear=318+East+Ave,+Rochester,+New+York+14604&amp;t=m&amp;ll=43.158017,-77.59562&amp;spn=0.005948,0.010707&amp;z=16&amp;iwloc=A">View Larger Map</a></small>
			</div>
		</div>
	</div>
	<br class="clear" />

</div>

