<div id="index">
	<div class="row">
        <div class="col-sm-12 slider-wrapper theme-dark">
            <div id="slider" class="nivoSlider">
                <img src="/assets/Slider_interior.jpg" data-thumb="/assets/Slider_interior.jpg" alt="" />
                <img src="/assets/Slider_dishes.jpg" data-thumb="/assets/Slider_dishes.jpg" alt="" />
                <img src="/assets/Slider_facade.JPG" data-thumb="/assets/Slider_facade.JPG" alt="" />
                <img src="/assets/Slider_pasta.jpg" data-thumb="/assets/Slider_pasta.jpg" alt="" />
                <img src="/assets/Slider_wall.JPG" data-thumb="/assets/Slider_wall.JPG" alt="" />
                <img src="/assets/Slider_overview.jpg" data-thumb="/assets/Slider_overview.jpg" alt="" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
		$(window).load(function() {
		        $('#slider').nivoSlider({
			        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
			        slices: 10, // For slice animations
			        animSpeed: 350, // Slide transition speed
			        pauseTime: 5000, // How long each slide will show
				});
		    });

	</script>

	<div id="gray">
		<div class="row">
			<div class="ratings col-sm-12">
				<div class="row">
					<div class="col-sm-4"><img src="/assets/yelp_ratings_img.png" /></div>
					<div class="col-sm-4"><img src="/assets/tripadvisor_ratings_img.png" /></div>
					<div class="col-sm-4"><img src="/assets/urbanspoon_ratings_img.png" /></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="hours" class="col-sm-6">
				<h1> Restaurant Hours </h1>
				<div class="container">
					<div class="day">
						<strong class="hrl"> Monday: </strong> <span class="hrr"> <%= @hours.monday %> </span>
					</div>
					<div class="day">
						<strong class="hrl"> Tuesday - Thursday:</strong>
						<span class="hrr"><%= @hours.tuesthurs %></span>
					</div>
					<div class="day">	
						<strong class="hrl"> Friday:</strong>
						<span class="hrr"> <%= @hours.friday %> </span>
					</div>
					<div class="day">
						<strong class="hrl"> Saturday:</strong>
						<span class="hrr"> <%= @hours.saturday %> </span>
					</div>
					<div class="day">
						<strong class="hrl"> Sunday:</strong>
						<span class="hrr"> <%= @hours.sunday %> </span>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<br class="clear" />

</div>

