<div id="menu">

	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div class="title"> 
			<h1> Menu </h1>
		</div>

		<div id="navi">
			 <a class="selected" href="/welcome/lunch"> Lunch </a>
			 <a style="margin-left: 275px;" href="/welcome/dinner"> Dinner </a>
			 <a style="margin-left: 275px;" href="/welcome/drinks"> Drinks </a>
			 <div class="menu_garnish one"> </div>
			 <div class="menu_garnish two"> </div>
			 <div class="menu_garnish three"> </div>
			 <div class="menu_garnish four"> </div>

			 <div class="menu_garnish six"> </div>
			 <div class="menu_garnish seven"> </div>
			 <div class="menu_garnish eight"> </div>
			 <div class="menu_garnish nine"> </div>
		</div>
		</br class="clear">
	</div>

	<div class="bord_bot"> </div>

	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div id="inner">
		</br>

		<div id="left_col">
			<div class="perin">
			<h2><%= @perin.name %></h2>
			<%= render @itemp %>
			</div>

			<div class="insalata">
			<h2><%= @insal.name %></h2>
			<%= render @itemi %>	
			</div>

			<div class="sandwich">
			<h2><%= @sand.name %></h2>
			<%= render @item_sand %>	
			</div>
		</div>

		<div id="right_col">
			<div class="wood">
			<h2><%= @pizza.name %></h2>
			<%= render @item_pizza %>	
			</div>

			<div class="pasta">
			<h2><%= @pasta.name %></h2>
			<%= render @item_pasta %>
			</div>	

			<div class="bevande">
			<h2><%= @bev.name %></h2>
			<%= render @item_bev %>
			</div>	
		</div>

		<div id="lunch_foot">
			<strong>Ask your server for daily specials </strong></br>
			Veneto uses only free-range, all natural chicken to ensure the highest quality product.
		</div>

		</br class="clear">
		</div>
	</div>

	<div class="bord_bot"> </div>


</div>